<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | FlaskWeet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        FlaskWeet
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <form action="">
            <input type="text" class="input" placeholder="Pesquisar por usuário">
          </form>
        </div>
        <div class="navbar-item">
          <div class="buttons">
            <form action="">
              <input type="hidden" name="logout">
              <button class="button is-danger">
                Sair
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container is-main">
      {% block main %}
      {% endblock %}
    </div>
  </section>

  <script src="{{ url_for('static', filename='js/burger.js') }}"></script>
</body>
</html>