{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="columns">
  <div class="column is-8">

    <div class="columns">
      <div class="column create-tweet">
        <div class="card">
          <form action="{{ url_for('publish_tweet') }}" method="post">
            <div class="card-content">
              <p class="title is-5">Tweet</p>
              <textarea required class="textarea" name="content" placeholder="Digite o que quiser @{{ current_user.username }}"></textarea>
              <div class="tweet-div-button-submit has-text-right">
                <button class="button is-link">Publicar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% if tweets %}
      {% for tweet in tweets %}
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ tweet.user.name }}</p>
                    <p class="subtitle is-6">@{{ tweet.user.username }}</p>
                  </div>
                </div>
            
                <div class="content">
                  {{ tweet.content }}
                  <br>
                  <span class="icon">
                    <i class="fas fa-clock"></i>
                  </span>
                  <time datetime="{{ tweet.pub_date.strftime('%Y-%m-%d') }}">{{ tweet.pub_date.strftime('%H:%M - %d/%m/%Y') }}</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">FlaskWeet</p>
                  <p class="subtitle is-6">@flaskweet</p>
                </div>
              </div>
          
              <div class="content">
                Digite seu primeiro Tweet na caixa acima.
                <br>
                <span class="icon">
                  <i class="fas fa-clock"></i>
                </span>
                <time datetime="">Agora</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}


  </div>
  <div class="column is-4">

    <nav class="panel">
      <p class="panel-heading">
        Seguidores
      </p>
      {% if followers %}
        {% for follower in followers %}
          <a class="panel-block is-active">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p>{{ follower.follower.name }}</p>
                <p class="subtitle is-6">@{{ follower.follower.username }}</p>
              </div>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <a class="panel-block is-active">
          <div class="media">
            <div class="media-content">
              <p>Você não possui seguidores</p>
            </div>
          </div>
        </a>
      {% endif %}
    </nav>

  </div>
</div>

{% endblock %}