<!DOCTYPE html>
<html lang="en" class="has-gradient">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | FlaskWeet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <div class="box">
              <p class="title is-3 has-text-centered">FlaskWeet</p>
              <p class="subtitle is-5 has-text-centered">Login</p>
              {% if message %}
              <p class="{{ class_name }} has-text-centered">{{ message }}</p>
              {% endif %}
              <form action="" method="post">
                {{ form.csrf_token }}
                
                <div class="field">
                  <label class="label">Username</label>
                  <div class="control has-icons-left">
                    {{ form.username(class_='input', placeholder='gabriell') }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
                
                <div class="field">
                  <label class="label">Senha</label>
                  <div class="control has-icons-left">
                    {{ form.password(class_='input', placeholder='Sua senha') }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                </div>
           
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Login</button>
                  </div>
                  <div class="control">
                    <button class="button is-link is-light">Cadastre-se</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>