{% extends 'base.html' %}

{% block title %}Pesquisa{% endblock %}

{% block content %}

<div class="columns">
  <div class="column">
    <div class="box result-users">
      {% if users %}
        <h1 class="title">Resultado da busca</h1>
        <ul>
          {% for user in users %}
          <li class="panel-block">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p>{{ user.name }}</p>
                <p class="subtitle is-6">@{{ user.username }}</p>
              </div>
              {% if current_user == user %}
                <button class="button is-link" disabled>
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                  <span>
                    Você
                  </span>
                </button>
              {% else %}
                {% if user.has_followed %}
                  <button class="button is-link follow is-light" data-user="{{ user.username }}">
                    <span class="icon">
                      <i class="fas fa-user-friends"></i>
                    </span>
                    <span>
                      Seguindo
                    </span>
                  </button>
                {% else %}
                  <button class="button is-link follow" data-user="{{ user.username }}">
                    <span class="icon">
                      <i class="fas fa-user-plus"></i>
                    </span>
                    <span>
                      Seguir
                    </span>
                  </button>
                {% endif %}
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      {% else %}
        <h1 class="title">Não foi encontrado reusltado com o termo pesquisado.</h1>
        <a href="{{ url_for('home') }}" class="button is-link">Voltar</a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.getElementsByClassName('follow')
    for (let i = 0; i < buttons.length; i++) {  
      buttons[i].addEventListener('click', () => {
        const user = buttons[i].getAttribute('data-user')
        let ajax = new XMLHttpRequest();
        ajax.open("POST", "{{ url_for('follow') }}", true)
        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        ajax.onreadystatechange = () => {
          if (ajax.readyState == 4 && ajax.status == 200) {  
            location.reload()
          }
        }
        ajax.send('username='+user)
      })
    }
  })
</script>
{% endblock %}
