<!DOCTYPE html>
<html lang="en" class="has-gradient">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastre-se | FlaskWeet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4">
            <div class="box">
              <p class="title is-3 has-text-centered">FlaskWeet</p>
              <p class="subtitle is-5 has-text-centered">Cadastro</p>
              {% if message %}
              <p class="has-text-centered {{ class_name }}">{{ message }}</p>
              {% endif %}
              <form action="" method="post">
                {{ form.csrf_token }}
                <div class="field">
                  <label class="label">Nome</label>
                  <div class="control">
                    {{ form.name(class_='input', placeholder='Gabriell Oliveira') }}
                  </div>
                </div>
                
                <div class="field">
                  <label class="label">Username</label>
                  <div class="control has-icons-left">
                    {{ form.username(class_='input', id="input-username", placeholder='gabriell', required="") }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  {% if form.errors.username %}
                    {% for error in form.errors.username %}
                      <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
                  <p class="help" id="help-username" style="display: none;"></p>
                </div>
                
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                    {{ form.email(class_='input', type="email", id="input-email", placeholder='gabriell@oliveira.com', required="") }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  {% if form.errors.email %}
                    {% for error in form.errors.email %}
                      <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
                  <p class="help" id="help-email" style="display: none;"></p>
                </div>
      
                <div class="field">
                  <label class="label">Senha</label>
                  <div class="control has-icons-left">
                    {{ form.password(class_='input', placeholder='Sua senha', required="") }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                  {% if form.errors.password %}
                    {% for error in form.erros.password %}
                      <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
           
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Cadastrar</button>
                  </div>
                  <div class="control">
                    <a href="{{ url_for('index') }}" class="button is-link is-light">Login</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const input_email = document.getElementById('input-email')
      const p_email = document.getElementById('help-email')

      const input_username = document.getElementById('input-username')
      const p_username = document.getElementById('help-username')


      input_email.addEventListener('input', () => {
        let ajax = new XMLHttpRequest();
        ajax.open("POST", "{{ url_for('verify_email') }}", true)
        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        ajax.onreadystatechange = () => {
          if (ajax.readyState == 4 && ajax.status == 200) {  
            let data = ajax.responseText
            let json = JSON.parse(data)
            if(json.status){
              p_email.classList.add("is-danger")
              input_email.classList.add("is-danger")
              p_email.setAttribute("style", "display: block")
              p_email.innerText = "Esse email já foi cadastrado."
            }else{
              p_email.setAttribute("style", "display: none")
              input_email.classList.remove("is-danger")
            }
          }
        }
        ajax.send('email='+input_email.value)
      })
      
      input_username.addEventListener('input', () => {
        let ajax = new XMLHttpRequest();
        ajax.open("POST", "{{ url_for('verify_username') }}", true)
        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        ajax.onreadystatechange = () => {
          if (ajax.readyState == 4 && ajax.status == 200) {  
            let data = ajax.responseText
            let json = JSON.parse(data)
            if(json.status){
              p_username.classList.add("is-danger")
              input_username.classList.add("is-danger")
              p_username.setAttribute("style", "display: block")
              p_username.innerText = "Esse nome de usuário já foi cadastrado."
            }else{
              p_username.setAttribute("style", "display: none")
              input_username.classList.remove("is-danger")
            }
          }
        }
        ajax.send('username='+input_username.value)
      })

    })


  </script>
</body>
</html>